@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.87);
}

.image-scroll {
  transition-property: all;
  transition-duration: 4000ms;
}
